.view-action[aria-disabled='true'] {
	opacity: 0.5;
	cursor: not-allowed;
}

@keyframes nutstore-sync-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

.nutstore-sync-spinning {
	animation: nutstore-sync-spin 2s linear infinite;
}

.nutstore-sync-status {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.nutstore-sync-status.hidden {
	opacity: 0;
	display: none;
}

.conflict.ours {
	background-color: rgb(0, 255, 208);
	white-space: pre;
}

.conflict.theirs {
	background-color: rgb(0, 132, 255);
	white-space: pre;
}
