.view-action[aria-disabled='true'] {
	opacity: 0.5;
	cursor: not-allowed;
}

@keyframes nutstore-sync-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

.nutstore-sync-spinning {
	animation: nutstore-sync-spin 2s linear infinite;
}

.nutstore-sync-status {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.nutstore-sync-status.hidden {
	opacity: 0;
	display: none;
}

.conflict.ours,
.conflict.theirs {
	position: relative;
	white-space: pre-wrap;
	word-break: break-word;
}

.conflict.ours {
	background-color: rgb(0, 255, 208);
}

.conflict.theirs {
	background-color: rgb(0, 132, 255);
}

.sync-progress-container {
	width: 100%;
	height: 8px;
	background-color: var(--background-modifier-border);
	border-radius: 4px;
	margin: 20px 0;
}

.sync-progress-bar {
	height: 100%;
	background-color: var(--interactive-accent);
	border-radius: 4px;
	transition: width 0.3s ease;
	width: 0;
}

.sync-progress-text {
	text-align: center;
	margin-bottom: 20px;
}

.sync-cancel-button {
	display: block;
	margin: 0 auto;
}
