name: Release Obsidian plugin

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: write
      packages: read
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@nutstore'

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Build plugin
        env:
          NS_NSDAV_ENDPOINT: ${{ vars.NS_NSDAV_ENDPOINT }}
          NS_DAV_ENDPOINT: ${{ vars.NS_DAV_ENDPOINT }}
          NUTSTORE_PAT: ${{ secrets.GITHUB_TOKEN }}
          NODE_ENV: production
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pnpm install
          pnpm run build

      - name: Package plugin
        run: |
          tag="${GITHUB_REF#refs/tags/}"
          mkdir ${{ github.event.repository.name }}
          cp main.js manifest.json styles.css ${{ github.event.repository.name }}
          zip -r ${{ github.event.repository.name }}-${tag}.zip ${{ github.event.repository.name }}
          tar -czf ${{ github.event.repository.name }}-${tag}.tar.gz ${{ github.event.repository.name }}

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="${GITHUB_REF#refs/tags/}"

          gh release create "$tag" \
            --title="$tag" \
            --draft \
            main.js manifest.json styles.css \
            ${{ github.event.repository.name }}-${tag}.zip \
            ${{ github.event.repository.name }}-${tag}.tar.gz
