name: Release Obsidian plugin

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Build plugin
        run: |
          npm install
          npm run build

      - name: Package plugin
        run: |
          tag="${GITHUB_REF#refs/tags/}"
          mkdir ${{ github.event.repository.name }}
          cp main.js manifest.json styles.css ${{ github.event.repository.name }}
          zip -r ${{ github.event.repository.name }}-${tag}.zip ${{ github.event.repository.name }}
          tar -czf ${{ github.event.repository.name }}-${tag}.tar.gz ${{ github.event.repository.name }}

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="${GITHUB_REF#refs/tags/}"

          gh release create "$tag" \
            --title="$tag" \
            --draft \
            main.js manifest.json styles.css \
            ${{ github.event.repository.name }}-${tag}.zip \
            ${{ github.event.repository.name }}-${tag}.tar.gz
